<%= form_with(model: ripple) do |form| %>
  <% if ripple.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h2><%= pluralize(ripple.errors.count, "error") %> prohibited this ripple from being saved:</h2>

      <ul>
        <% ripple.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-outline mb-4">
    <%= form.label "Your name or alias (required)",
      class: "form-label" %>
    <%= form.text_field :author, class: "form-control" %>
  </div>

  <div class="form-outline mb-4">
    <%= form.label "A website, yours or otherwise (optional)",
      class: "form-label" %>
    <%= form.text_field :website, class: "form-control" %>
  </div>

  <div class="form-outline mb-4">
    <%= form.label "Your message/note/quote/rant (required)",
      class: "form-label" %>
    <%= form.text_area :message, class: "form-control", rows: "4" %>
  </div>

  <div class="actions">
    <%= form.submit "Create Ripple" %>
  </div>
<% end %>
