<p id="notice"><%= notice %></p>

  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container-fluid">
        <ul class="nav navbar-nav ms-auto me-auto h5" style="color:white">
          <li class="nav-item">
            <%= newest_ripples_link %>
          </li>
          <li class="nav-item">
            <%= previous_ripples_link %>
          </li>
          <li class="nav-item">
            <%= next_ripples_link %>
          </li>
          <li class="nav-item">
            <%= oldest_ripples_link %>
          </li>
          <li class="nav-item">
            <%= link_to 'Create Ripple', new_ripple_path, class:"nav-link" %>
          </li>
        </ul>
    </div>
  </nav>

  <table class="shadow table table-bordered">
    <thead class="thead-light">
      <tr>
        <th>Author</th>
        <th>Message</th>
        <th colspan="2">Posted</th>
      </tr>
    </thead>

    <tbody>
      <% @ripples.each do |ripple| %>
        <tr>
          <td><%= website_link(ripple) %></td>
          <td><%= ripple.message %></td>
          <td><%= ripple.created_at %></td>
          <td><%= link_to 'Show', ripple %></td>
      <% end %>
    </tbody>
  </table>
